.tiles article.simple > .image:before {
    background-color: #7ecaf6;
}

.tiles article.acorns > .image:before {
    background-color: #00cf26;
}

.tiles article.discover > .image:before {
    background-color: #f65e10;
}

.tiles article.prime > .image:before {
    background-color: #3aa6f6;
}

.tiles article.primeStudent > .image:before {
    background-color: #10e4f6;
}

.tiles article.amex > .image:before {
    background-color: #1c93f6;
}

.tiles article.quip > .image:before {
    background-color: #2ff69f;
}